.encabezado-nota{
    color: #337ab7;
    font-weight: bold;
}
#img-user{
    width: 150px;
}
.datos-pac{
    color: black;
    font-size: 1.1rem;
    line-height: 5px;
}
p,
h6{
    color: #000;
}

.form-control {
    border-radius: 7px !important;
    border: 1px solid rgba(0, 0, 0, 0.95);
}

label{
    color: #000;
}

.tablinks {
    background-color: #337ab7;
    border: 1px solid #337ab7;
    color: white;
    padding: 6px !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    margin-bottom: 0px !important;
    margin-right: 3px;
    transition: .5s all ease;
}

.tablinks:hover,
.tablinks.active{
    background-color: white;
    color: #337ab7;
    cursor: pointer;
}

.tabcontent{
    border: 1px solid #337ab7;
}